# Maven/Java
/target/
/deploy/
*.log
*.class
*.jar
*.war
*.ear

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/
/.settings/
/.classpath
/.project

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.db
.env

# Misc
node_modules/
.env.local
.env.*.local

# Jupyter
.ipynb_checkpoints/

# Others
*.swp
*.swo
